* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #C1B5AD;
}

#main {
  display: flex;
}

#map {
  height: 100vh;
  width: 100vw;
  flex: 2;
}

aside {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#activities {
  flex: 1;
  background-color: rgb(183, 238, 146);
}

#itinerary {
  flex: 1;
  background-color: rgb(146, 216, 238);
}

#activities h1 {
  background-color: orange;
  margin-top: 0;
}

#itinerary h1 {
  background-color: orange;
  margin-top: 0;
}

.panel select {
  width: 50%;
  font-size: 20px;
  background-color: azure;
}

.panel button {
  font-size: 20px;
  background-color: red;
}



